body{
	font-family: Arial;
	font-size: 14px;
}

.container{
	max-width: 1100px;
	margin: 0 auto;
}

.header > .menu{
	background-color: #F5EFFB;
	min-height: 30px;
}

.header{
	margin-bottom: 20px;
}

.main-menu > .main-menu-list, .user-menu > .user-menu-list{
	list-style: none;
	min-height: 30px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	font-weight: 700;
	font-size: 14px;
	font-family: Arial;
	justify-content: space-between;
	align-items: center;
	align-content: center;

}

.container > .user-menu > .user-menu-list{
	width: 100%;
	justify-content: flex-end;
}

.main-menu-item a{
	text-decoration: none;
	color: #848484;
}

.user-menu-item a{
	text-decoration: none;
	color: #2E2E2E;

}

.user-menu-item{
	
	box-sizing: border-box;
	padding: 0 20px;

}

.user-menu-item:last-child{
	padding-right: 0;
	border-left: 2px solid black;
}


.menu > .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.container > .main-menu{
	width: calc(100%/12*5);
}

.container > .user-menu{
	width: calc(100%/12*3);
}

.logo-basket > .container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	min-height: 55px;
	
}

.logo-basket > .container > .logo{
	font-size: 42px;
}

.logo-basket > .container > .basket{
	display: flex;
	align-items: center;
	
}

.container > .basket > div{
	font-size: 14px;
	font-weight: 700;
	
}

.container > .basket > div:first-child{
	margin-right: 15px;
}

.container > .basket > div > span{
	font-weight: 400;
	color: gray;
}

.basket a{
	color: #2E2E2E;
	text-decoration: none;
}

.header > .search-container{
	background-color: orange;
	
	color: #ffffff;
}

.search-container > .container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	min-height: 50px;
}



.search-form form{
	padding: 0;
	margin: 0;
}

.search-form{
	width: calc(100%/12*8);
	
}

.search-container > .container input{
	border: none;
	border-radius: 3px;
	height: 35px;
	box-sizing: border-box;
	margin: 0 10px 0 25px;
	width: calc(100%/12*9);
	padding-left: 10px;
	color: #A4A4A4;
}

.search-container > .container input::placeholder{
	color: #A4A4A4;
}

input{
	outline: 0;
}

.search-form button{
	background-color: orange;
	border: 2px solid #ffffff;
	color: inherit;
	height: 35px;
	box-sizing: border-box;
	border-radius: 3px;
	margin: 0;
	padding: 0 15px;
	cursor: pointer;
}

.container > .left-sidebar{
	width: calc(100%/12*3);
}

.container > .left-sidebar input{
	width: 100%;
	height: 30px;
	padding: 10px;
	border: 1px solid #a4a4a4;
	border-radius: 3px;
}

.container > .left-sidebar input::placeholder{
	color: #a4a4a4;
}

.categories > .categories-list{
	list-style: none;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 1px solid #a4a4a4;
	border-radius: 3px;
	background-color: #F2EFFB;
}

.left-search form{
	padding: 0;
	margin: 0 0 10px 0;
}

.categories > .categories-list a{
	text-decoration: none;
	color: #2e2e2e;
	display: block;
	width: 100%;
	
}

.categories-list > .categories-item{
	border-bottom: 1px solid #a4a4a4;
	width: 100%;
	padding: 7px 20px 7px 10px;
	box-sizing: border-box;
	background-image: url("../images/more.png");
	background-size: 7px;
	background-position: center right 10px;
	background-repeat: no-repeat;
}


.categories-list > .categories-item:last-child{
	border: none;
}

.content > .container{
	display: flex;
	flex-wrap: wrap;
}

.container > .main-content{
	width: calc(100%/12*9);
	padding-left: 20px;
	box-sizing: border-box;
}

.main-content > .filters{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
}

.not-active-button, .active-button{
	border: 2px solid orange;
	padding: 5px 20px;
	border-radius: 3px;
	cursor: pointer;
}

.not-active-button{
	background-color: #ffffff;
}

.active-button{
	color: #ffffff;
	background-color: orange;
	
}

.price-sort{
	margin-bottom: 20px;
}

.price-sort span{
	color: #a4a4a4;
}

.price-sort span::after{
	content: "▼";
	font-size: 10px;
}

.goods-list{
	margin-bottom: 20px;
}

.main-content > .goods-list > .goods-item{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	border-top: 1px solid #a4a4a4;
}

.goods-item:last-child{
	border-bottom: 1px solid #a4a4a4;
}

.goods-item-info{
	max-width: 360px;
	min-width: 200px;
	padding-left: 10px;
}

.goods-item-photo{
	width: calc(100%/12*1);
}

.goods-item-photo img{
	width: 100px;
	height: 100px;
}

.goods-item-price{
	max-width: 140px;
	font-size: 25px;
	font-weight: 700;
}

.goods-item-price span, .short-description, .breadcrumbs{
	color: #a4a4a4;
	font-size: 14px;
	font-weight: 400;
}

.breadcrumbs span{
	color: #000000;
}

.short-description{
	margin-bottom: 20px;
}


h3{
	margin: 0 0 10px 0;
}

.goods-item div:last-child{
	align-self: flex-start;
}

.goods-item-button{
	text-align: right;
}

.goods-item-button > .active-button{
	margin-top: 20px;
}

.goods-item-button span{
	color: #a4a4a4;
	font-size: 12px;

}

.goods-item-button span::before{
	content: "";
	
	
	background-image: url("../images/geo.png");
	
}

@media screen and (max-width: 1100px){
	.container > .main-menu{
		width: calc(100%/12*6);
		
	}

	.container > .user-menu{
		width: calc(100%/12*4);
	}

	.main-content > .goods-list > .goods-item{
		justify-content: flex-start;
	}

	.goods-item > .goods-item-photo{
		width: 20%;
		
	}

	.goods-item > .goods-item-info{
		width: 60%;
		
	}

	.goods-item-price, .goods-item-button{
		width: 100%;
		text-align: left;
	}

	.goods-item > .goods-item-info,
	.goods-item > .goods-item-price{
		max-width: none;
	}

	.goods-item-button > .active-button{
		width: 30%;
		padding-top: 10px;
		padding-bottom: 10px;
	}

}

@media screen and (max-width: 768px){
	.container > .main-menu{
		width: 100%;
	}

	.main-menu-list{
		width: 100%;

	}

	.container > .user-menu > .user-menu-list{
		width: 100%;
		justify-content: space-between;
	}

	.main-menu-list > .main-menu-item, .user-menu-list > .user-menu-item{
		width: 100%;
		margin: 5px 0 5px 20px;
		text-align: center;
		font-size: 20px;
	}

	.user-menu-item{
		padding: 0;

	}


	.user-menu-item:last-child{
		padding-right: 0;
		border-left: none;
	}

	.container > .user-menu{
		width: 100%;
		
	}

	.logo, .basket{
		width: 100%;
		padding: 5px 0;
		text-align: center;
		justify-content: center;
		
	}

	.logo-basket > .container > .basket a{
		font-size: 20px;
	}

	.logo-basket > .container > .basket span{
		font-size: 16px;
	}

	.search-container > .container div{
		width: 100%;
		text-align: center;
		font-size: 16px;
		padding: 5px 0;
	}

	.search-form{
		width: 100%;
	
	}

	.search-container > .container input{
		margin: 0;
	}

	.container > .left-sidebar{
		width: 100%;
	}

	.container > .main-content{
		width: 100%;
		margin-top: 20px;
		padding: 0;
	}

	.new-used, .in-stock-preorder{
		width: 100%;
		margin: 5px 0;
	}

	.goods-item > .goods-item-photo{
		width: 100%;
	}

	.goods-item > .goods-item-photo img{
		width: 250px;
		height: 250px;
		
	}

	.goods-item > .goods-item-price{
		display: block;
		font-size: 28px;
	}

	.goods-item > .goods-item-photo, 
	.goods-item > .goods-item-info, 
	.goods-item-price, 
	.goods-item-button{
		width: 100%;
		text-align: center;
		margin-top: 20px;
		font-size: 1.5em;
	}

	.main-content > .goods-list > .goods-item{
		justify-content: flex-start;
	}

	.categories > .categories-list a,
	.not-active-button, 
	.active-button,
	.price-sort,  
	.left-search{
		font-size: 1.5em;
	}

	.goods-item-button > .active-button{
		width: 60%;
	}

	.categories-list > .categories-item{
		background-size: 10px;
	}



}









